- include_javascript :edit,:popover
= bootstrap_form_for current_user, url: :user, method: :put do |f|
	%fieldset
		.container 
			%legend Settings
			!= f.password_field :current_password, "Enter your current password to make changes"
			!= f.email_field :email, "Change your email address"
			!= f.text_field :first_name, "Change your first name"
			!= f.text_field :last_name, "Change your last name" 
			!= f.password_field :password, "Enter a new password atleast 6 characters long" 
			!= f.password_field :password_confirmation, "Please confirm your new password" 
			!= f.submit "Confirm Changes", class: 'btn btn-primary'
			%legend About
			!= f.text_field :location,"Enter your current location. Optional field"
			!= f.text_field :occupation,"Where do you work?"
			!= f.text_area :bio, nil, class: 'span8 input-medium'
			!= f.submit "Confirm Changes", class: 'btn btn-primary'