- form_for(@current_user, url: :user, method: :put, html: {class: 'form-horizontal'}) do |f| 
  %fieldset
    %legend Edit Settings   
    = create_field 'email', "Change your email address"
    = create_field 'first_name', "This field is optional"
    = create_field 'last_name', "This field is optional" 
    = create_field 'password', "Enter a password atleast 6 characters long" 
    = create_field 'password_confirmation', "Please confirm your password" 
    %br/
    = create_field 'location',"Enter your current location. Optional field"
    = create_field 'occupation',"Where do you work?"
    = create_field 'bio', "Who are you?"
    = create_control_div nil, f.submit("Confirm", class: 'btn btn-primary') 
