.container
	.span10.well
		%legend 
			= @user.username
		.row
			.span1
				= image_tag avatar_url @user
			.span2
			%p 
				%span.label.label-inverse Name: 
				= @user.first_name + ' ' + @user.last_name
		.row 
			.span1
				%span{:class => [:label,bootstrap_class_for_role(@user.role)]}
					= @user.role
			.span2
			%p
				%span.label.label-inverse Location:
				= @user.location if @user.location