<html>
<head>
  <title>RateProgrammerTools</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<div id="content-top">
  <a href="/">
    <img src="/images/logo_home.png"/>
  </a>
  <%= text,link = 'Log Out', logout_path if @current_user;
  link_to(text || 'Sign Up',link || signup_path, {class: 'auth_links'})%>
  <%= text,link = @current_user.username, show_user_path(@current_user) if @current_user;
  link_to(text || 'Log In',link || login_path, {class: 'auth_links'})%>
  <div class="clear_float"></div>
</div>
<div id="content-bottom">
  <%= render partial: "shared/flash_messages", flash: flash %>
  <%= yield %>
</div>

<div class="footer">
  <hr>
  <p>&copy; RateProgrammerTools 2012</p>
</div>

</body>
</html>
