!!! 5
%html
  %head
    %title RateProgrammerTools
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag 'modernizr'
    = csrf_meta_tags
    = yield :head
  %body
    #content-top
      %a{:href => "/"}
        %img{:src => "/images/logo_home.png"}/
        .auth_links
          = render "shared/user_menu"
      .clear_float
    #content-bottom
      = render partial: "shared/flash_messages", flash: flash
      = yield
    .footer
      %hr/
      %p © RateProgrammerTools 2012